<% posts.each do |post| %>
  <article class="post">
    <header class="post-header">
      <h2 class="post-title"><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
    </header>
    <section class="post-excerpt">
      <p><%= post.excerpt %> <a class="read-more" href="/posts/<%= post.id %>">&raquo;</a></p>
    </section>
    <footer class="post-meta">
      <% if post.author.image %><img class="author-thumb" src="<%= post.author.image %>" alt="<%= post.author.name %>" nopin="nopin" /><% end %>
      <%= post.author.name %>
      <time class="post-date" datetime="<%= post.date %>"><%= post.date %></time>
    </footer>
</article>
<% end %>

<% #Pagination should go here %>
