<div class="toolbar-wrapper">
  <div class="toolbar-block">
    <ul>
      <li class="selected"><button>
          <img src="<%= asset_path("images/tools/paragraph.svg") %>">
          <label>Paragraph</label>
        </button>
      </li>
      <li class="primary">
          <button id="h1-button">
          h1
          <label>Heading One</label>
        </button>
      </li>
      <li class="primary">
          <button id="h2-button">
          h2
          <label>Heading Two</label>
        </button>
      </li>
      <li class="primary">
        <button id="h3-button">
          h3
          <label>Heading Three</label>
        </button>
      </li>
      <li class="primary">
          <button id="bold-button">
          <img src="<%= asset_path("images/tools/bold.svg") %>">
          <label>Heading One</label>
        </button>
      </li>
      <li>
        <button id="blockquote-button">
          <img src="<%= asset_path("images/tools/quote.svg") %>">
          <label>Block Quote</label>
        </button>
      </li>
      <li>
        <button id="unordered-list-button">
          <img src="<%= asset_path("images/tools/list-bullets.svg") %>">
          <label>List Unordered</label>
        </button>
      </li>
      <li>
        <button id="ordered-list-button">
          <img src="<%= asset_path("images/tools/list-number.svg") %>">
          <label>List Ordered</label>
        </button>
      </li>
      <li class="primary">
          <button id="add-image-button">
            <img src="<%= asset_path("images/tools/file-picture-add.svg") %>">
          <label>Image</label>
        </button>
      </li>
    </ul>
  </div>
  <button class="pure-button pure-button-primary button-xsmall save-button">Save</button>
  <div class="clearfix"></div>
</div>

<div id="title" contenteditable="true" placeholder="Here goes my story..."></div>
<div id="editor">

</div>
