<div class="uk-container uk-container-small">
  <header class="">
    <h1 class="uk-align-left">Your stories</h1>
    <a class="uk-button uk-button-default uk-align-right" href="/admin/posts/new">Write a story</a>
    <div class="uk-clearfix"></div>
  </header>

  <% posts.each do |post| %>
    <article class="uk-article">
      <h2 class=""><a class="uk-link-reset" href=""><%= post.title %></a></h2>

      <p class="uk-article-meta">Written by <a href="#"><%= post.author.name %></a> on <%= post.created_at  %> </p>

      <p class="uk-text-lead"><%= post.excerpt %></p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

      <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
          <a class="uk-button uk-button-text" href="/admin/posts/<%= post.id %>">Edit</a>
        </div>
      </div>
    </article>
  <% end %>
</div>
